<ion-view view-title="Taskoo">
  <ion-content class="padding">

    <h1 class="text-center">Making the Unemployed Productive!</h1>
    <div class="list has-header">
      <label class="item item-input item-select">
        <div class="input-label">
          Jobs
        </div>
        <select name="Place" id="jobs">
          <option disabled selected>Select a job</option>
          <option>Carpenter</option>
          <option>Delivery</option>
          <option>Electrician</option>
          <option>Encoder</option>
          <option>Housekeeper</option>
          <option>Mechanic</option>
          <option>Plumber</option>
          <option>Programmer</option>
          <option>Tutor</option>
        </select>
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          Place
        </div>
        <select name="Place" id="place">
          <option disabled selected>Select a place</option>
          <option>Caloocan City</option>
          <option>Mandaluyong City</option>
          <option>Manila</option>
          <option>Marikina City</option>
          <option>Pasay City</option>
          <option>Pasig City</option>
          <option>Quezon City</option>
          <option>San Juan City</option>
          <option>Taguig City</option>
        </select>
      </label>
    </div>


    <!--<button class="button button-block button-outline button-stable has-subheader">
      Search
    </button>-->
    <a href="#/tab/search" class="button button-block button-outline button-stable has-subheader">S E A R C H</a>

  </ion-content>
</ion-view>
