<ion-view view-title="Place">
  <div class="bar bar-subheader
    item-input-inset bar-light has-tabs-top">
    <label class="item-input-wrapper">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" ng-model="query" placeholder="Search">
    </label>
  </div>
  <ion-content class="padding has-subheader">
    <ion-list>
    <ion-item class="item-divider">
        Caloocan City
      </ion-item>
      <ion-item ng-repeat="caloocan in caloocans | filter:query" class="item-text-wrap">
          <h2>{{caloocan.barangay}}</h2>
          <p>{{caloocan.address}}</p>
      </ion-item>
      <ion-item class="item-divider">
      Mandaluyong City
      </ion-item>
      <ion-item ng-repeat="manda in mandaluyongs | filter:query" class="item-text-wrap">
          <h2>{{manda.barangay}}</h2>
          <p>{{manda.address}}</p>
        </ion-item>
      <ion-item class="item-divider">
      Manila
      </ion-item>
      <ion-item ng-repeat="mnl in manila | filter:query" class="item-text-wrap">
          <h2>{{mnl.barangay}}</h2>
          <p>{{mnl.address}}</p>
        </ion-item>
      <ion-item class="item-divider | filter:query">
      Marikina City
      </ion-item>
      <ion-item ng-repeat="mar in marikina | filter:query" class="item-text-wrap">
          <h2>{{mar.barangay}}</h2>
          <p>{{mar.address}}</p>
        </ion-item>
      <ion-item class="item-divider | filter:query">
      Pasay City
      </ion-item>
      <ion-item ng-repeat="pasa in pasay | filter:query" class="item-text-wrap">
          <h2>{{pasa.barangay}}</h2>
          <p>{{pasa.address}}</p>
        </ion-item>
      <ion-item class="item-divider">
      Pasig City
      </ion-item>
      <ion-item ng-repeat="pasi in pasig | filter:query" class="item-text-wrap">
          <h2>{{pasi.barangay}}</h2>
          <p>{{pasi.address}}</p>
        </ion-item>
      <ion-item class="item-divider">
      Quezon City
      </ion-item>
      <ion-item ng-repeat="q in qc | filter:query" class="item-text-wrap">
          <h2>{{q.barangay}}</h2>
          <p>{{q.address}}</p>
        </ion-item>
      <ion-item class="item-divider">
      San Juan City
      </ion-item>
      <ion-item ng-repeat="san in sanjuan | filter:query" class="item-text-wrap">
          <h2>{{san.barangay}}</h2>
          <p>{{san.address}}</p>
        </ion-item>
      <ion-item class="item-divider">
      Taguig City
      </ion-item>
      <ion-item ng-repeat="tag in taguig | filter:query" class="item-text-wrap">
          <h2>{{tag.barangay}}</h2>
          <p>{{tag.address}}</p>
        </ion-item>
        <!--<ion-item class="item-remove-animate item-icon-right item-text-wrap" ng-repeat="place in places" href="/tab/place/{{place.id}}">
          {{place.city}}
        </ion-item> -->
    </ion-list>
  </ion-content>
</ion-view>
