<ion-view view-title="Jobs">
  <ion-content>
    <ion-list>
      <ion-item class="item-avatar item-text-wrap">
        <img src="img/carpenter.png" alt="Carpenter">
        <h2>Carpenter</h2>
        <p>He build walls, roofs, doors, or even your whole house!</p>
      </ion-item>
      <ion-item class="item-avatar item-text-wrap">
        <img src="img/electronic.png" alt="Electrician">
        <em><h2>Electrician</h2></em>
        <p>Fixes electrical problems such as wirings, switches or even your phone charger!</p>
      </ion-item>
      <ion-item class="item-avatar item-text-wrap">
        <img src="img/encoder.png" alt="encoder">
        <em><h2>Encoder</h2></em>
        <p>They are your type...ist! They can encode your records on different microsoft office applications!</p>
      </ion-item>
      <ion-item class="item-avatar item-text-wrap">
        <img src="img/maid.png" alt="House Helper">
        <em><h2>House Helper</h2></em>
        <p>Need a help with in your household like cleaning, cooking, or washing of clothes? They're here just for you!</p>
      </ion-item>
      <ion-item class="item-avatar item-text-wrap">
        <img src="img/mechanic.png" alt="Mechanic">
        <em><h2>Mechanic</h2></em>
        <p>Can work with appliances, automobile, and even your bike!</p>
      </ion-item>
      <ion-item class="item-avatar item-text-wrap">
        <img src="img/plumber.png" alt="Plumber">
        <em><h2>Plumber</h2></em>
        <p>He is the one doing the dirty work such as clogged toilets, cleaning pipes and more!</p>
      </ion-item>
      <ion-item class="item-avatar item-text-wrap">
        <img src="img/programmer.png" alt="Programmer">
        <em><h2>Programmer</h2></em>
        <p>Can create any program or application depending on your needs!</p>
      </ion-item>
      <ion-item class="item-avatar item-text-wrap">
        <img src="img/tutor.png" alt="Tutor">
        <em><h2>Tutor</h2></em>
        <p>They teach different subject matter based on what you want to learn!</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
