<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Home Tab -->
  <ion-tab title="Search" icon="ion-search" md="ion-android-search" href="#/tab/dash">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Jobs Tab -->
  <ion-tab title="Jobs" icon="ion-ios-briefcase" md="ion-briefcase" href="#/tab/jobs">
    <ion-nav-view name="tab-jobs"></ion-nav-view>
  </ion-tab>

  <!-- Place Tab -->
  <ion-tab title="Place" icon="ion-ios-navigate" md="ion-android-navigate" href="#/tab/place">
    <ion-nav-view name="tab-place"></ion-nav-view>
  </ion-tab>


</ion-tabs>
