
<!DOCTYPE html>
<head>
  <style>
    h2, p {
      font-size: 15px;
      font-family: 'Raleway', sans-serif;
    }

    img{
      max-width: 100%;
      height: 70px;
    }
  </style>
</head>
  <body>
    <br/><p class="text-center"><img src="img/hammer.png" alt="Hammer"></p>
    <h2><strong>Name:</strong> Fixit Felix<h2>
    <br/><p><strong>Rank:</strong> Expert</p>
    <br/><p><strong>Location:</strong> Caloocan City</p>
    <br/><p><strong>Experience:</strong> 40XP</p>
    <br/><p><strong>Primary Skill:</strong> Renovation</p>
    <br/><p><strong>Secondary Skill:</strong> Renovation</p>
  </body>
</html>
