
<!DOCTYPE html>
<head>
  <style>
    h2, p {
      font-size: 15px;
      font-family: 'Raleway', sans-serif;
    }

    img{
      max-width: 100%;
      height: 70px;
    }
  </style>
</head>
  <body ng-app="starter">
  <!--  <br/><p class="text-center"><img src="img/{{worker.img}}.png" alt="{{worker.img}}"></p>
    <h2><strong>Name:</strong> {{worker.name}}<h2>
    <br/><p><strong>Rank:</strong> {{worker.rank}}</p>
    <br/><p><strong>Location:</strong> {{worker.location}}</p>
    <br/><p><strong>Experience:</strong> {{worker.experience}}</p>
    <br/><p><strong>Primary Skill:</strong> {{worker.primary}}</p>
    <br/><p><strong>Secondary Skill:</strong> {{worker.secondary}}</p> -->
    <p class="text-center"><img src="img/coding.png" alt="Coding"></p>
      <h2><strong>Name: Juan Dela Cruz<h2></strong>
      <br/><p><strong>Location: Pasig City</p></strong>
      <br/><p><strong>Rank: Expert</p></strong>
      <br/><p><strong>Experience: 200XP</p></strong>
      <br/><p><strong>Primary Skill: Clogged toilets</p></strong>
      <br/><p><strong>Secondary Skill: Pipe path setup</p></strong>
  </body>
</html>
