/* Empty. Add your own CSS if you like */
body, h1{
  color: #525252;
  font-family: 'Raleway', sans-serif;
}

h2{
  font-style: bold;
  color: #000000 !important;
  font-family: 'Raleway', sans-serif;
}

.platform-android .bar-subheader.has-tabs-top{
  top:93px !important;
}

.platform-android .has-subheader.has-tabs-top{
  top:137px;
}

.button-block{
  border-radius: 0px !important;
}
